src/HireHero.LogicApps/hero-payments-logicapp.definition.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_hero_payments_logicapp_name": {
            "defaultValue": "hero-payments-logicapp",
            "type": "string"
        },
        "workflows_hero-payments-logicapp_parameters_$connections": {
            "defaultValue": {
                "documentdb": {
                    "connectionId": "/subscriptions/c0e61191-dce3-4eb8-bb45-36c5dfd0acf4/resourceGroups/hire-hero-app-rg/providers/Microsoft.Web/connections/documentdb",
                    "connectionName": "documentdb",
                    "id": "/subscriptions/c0e61191-dce3-4eb8-bb45-36c5dfd0acf4/providers/Microsoft.Web/locations/westeurope/managedApis/documentdb"
                }
            },
            "type": "Object"
        },
        "workflows_hero-payments-logicapp_parameters_salespersonemail": {
            "defaultValue": "maciej.gos@altkomsoftware.pl",
            "type": "String"
        }
    },
    "resources": [
        {
            "apiVersion": "2017-07-01",
            "dependsOn": [],
            "location": "westeurope",
            "name": "[parameters('workflows_hero_payments_logicapp_name')]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                                "documentdb": {
                                    "connectionId": "/subscriptions/c0e61191-dce3-4eb8-bb45-36c5dfd0acf4/resourceGroups/hire-hero-app-rg/providers/Microsoft.Web/connections/documentdb",
                                    "connectionName": "documentdb",
                                    "id": "/subscriptions/c0e61191-dce3-4eb8-bb45-36c5dfd0acf4/providers/Microsoft.Web/locations/westeurope/managedApis/documentdb"
                                }
                            },
                            "type": "Object"
                        },
                        "salespersonemail": {
                            "defaultValue": "maciej.gos@altkomsoftware.pl",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "amount": {
                                            "type": "integer"
                                        },
                                        "offerId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": {
                                "amount": "@triggerBody()?['amount']",
                                "id": "@guid()",
                                "offerId": "@{triggerBody()?['offerId']}"
                            }
                        },
                        "Create_or_update_document": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@outputs('Compose')",
                                "headers": {
                                    "x-ms-documentdb-raw-partitionkey": "\"@{body('Parse_JSON')?['id']}\""
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/dbs/@{encodeURIComponent('heroapp-db')}/colls/@{encodeURIComponent('payments')}/docs"
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@outputs('Compose')",
                                "schema": {
                                    "properties": {
                                        "amount": {
                                            "type": "integer"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "offerId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Create_or_update_document": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": "[parameters('workflows_hero-payments-logicapp_parameters_$connections')]"
                    },
                    "salespersonemail": {
                        "value": "[parameters('workflows_hero-payments-logicapp_parameters_salespersonemail')]"
                    }
                },
                "state": "Enabled"
            },
            "scale": null,
            "tags": {},
            "type": "Microsoft.Logic/workflows"
        }
    ],
    "variables": {}
}
